<a href="/info">
    <div tabindex="0" class="m-1 normal-case btn-ghost btn">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            />
        </svg>
    </div>
</a>
<div title="Change Theme" class="dropdown dropdown-end">
    <div tabindex="0" class="m-1 normal-case btn-ghost btn">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block w-6 h-6 stroke-current md:mr-2"
        >
            <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"
            />
        </svg>
        <span class="hidden md:inline">
      Theme
    </span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" class="inline-block w-4 h-4 ml-1 fill-current">
            <path d="M1395 736q0 13-10 23l-466 466q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l393 393 393-393q10-10 23-10t23 10l50 50q10 10 10 23z"/>
        </svg>
    </div>
    <div class="mt-16 overflow-y-auto shadow-2xl top-px dropdown-content h-96 w-52 rounded-b-box bg-base-200 text-base-content">
        <ul class="p-4 menu compact">
            <li><a href="?theme=light" tabindex="0" data-set-theme="light" data-act-class="active">🌝  light</a></li>
            <li><a href="?theme=dark" tabindex="0" data-set-theme="dark" data-act-class="active">🌚  dark</a></li>
            <li><a href="?theme=cupcake" tabindex="0" data-set-theme="cupcake" data-act-class="active">🧁  cupcake</a>
            </li>
            <li><a href="?theme=bumblebee" tabindex="0" data-set-theme="bumblebee" data-act-class="active">🐝
                 bumblebee</a></li>
            <li><a href="?theme=emerald" tabindex="0" data-set-theme="emerald" data-act-class="active">✳️  Emerald</a>
            </li>
            <li><a href="?theme=corporate" tabindex="0" data-set-theme="corporate" data-act-class="active">🏢
                 Corporate</a></li>
            <li><a href="?theme=synthwave" tabindex="0" data-set-theme="synthwave" data-act-class="active">🌃
                 synthwave</a></li>
            <li><a href="?theme=retro" tabindex="0" data-set-theme="retro" data-act-class="active">👴  retro</a></li>
            <li><a href="?theme=cyberpunk" tabindex="0" data-set-theme="cyberpunk" data-act-class="active">🤖
                 cyberpunk</a></li>
            <li><a href="?theme=valentine" tabindex="0" data-set-theme="valentine" data-act-class="active">🌸
                 valentine</a></li>
            <li><a href="?theme=halloween" tabindex="0" data-set-theme="halloween" data-act-class="active">🎃
                 halloween</a></li>
            <li><a href="?theme=garden" tabindex="0" data-set-theme="garden" data-act-class="active">🌷  garden</a></li>
            <li><a href="?theme=forest" tabindex="0" data-set-theme="forest" data-act-class="active">🌲  forest</a></li>
            <li><a href="?theme=aqua" tabindex="0" data-set-theme="aqua" data-act-class="active">🐟  aqua</a></li>
            <li><a href="?theme=lofi" tabindex="0" data-set-theme="lofi" data-act-class="active">👓  lofi</a></li>
            <li><a href="?theme=pastel" tabindex="0" data-set-theme="pastel" data-act-class="active">🖍  pastel</a></li>
            <li><a href="?theme=fantasy" tabindex="0" data-set-theme="fantasy" data-act-class="active">🧚‍♀️
                 fantasy</a></li>
            <li><a href="?theme=wireframe" tabindex="0" data-set-theme="wireframe" data-act-class="active">📝
                 Wireframe</a></li>
            <li><a href="?theme=black" tabindex="0" data-set-theme="black" data-act-class="active">🏴  black</a></li>
            <li><a href="?theme=luxury" tabindex="0" data-set-theme="luxury" data-act-class="active">💎  luxury</a></li>
            <li><a href="?theme=dracula" tabindex="0" data-set-theme="dracula" data-act-class="active">🧛‍♂️
                 dracula</a></li>
        </ul>
    </div>
</div>


<div class="container mx-auto">
    <div class="hero min-h-screen bg-base-200 mx-auto">
        <div class="text-center hero-content">
            <div class="max-w-xl">
                <h1 class="mb-5 text-5xl font-bold">
                    Backcaster.app
                </h1>
                <p class="text-xl mb-5">
                    Are your projects making the progress you want? Do you dread looking at your Jira / Trello board?<br><br> Try backcasting, start from your goal and work backwards; track
                    progress in one place. <br><br>(No signups, no payment, get started with 1-click)
                </p>
                <%= form_tag("/create-board", method: :post) %>
                    <input class="btn btn-primary btn-sm milestone-submit" type="submit" value="Get started"/>
                </form>
                <h1 class="text-2xl font-bold mt-6">4 steps to achieving your goal</h1>
                <ul class="steps steps-vertical">
                    <li class="step step-primary">Define your goal (with templates help get you started)</li>
                    <li class="step step-primary">Break down into milestones</li>
                    <li class="step step-primary">Todos* for each milestone</li>
                    <li class="step step-primary">Set habits for repetitive tasks</li>
                </ul>
                <br>
                <p><a href="/backcast/2f5304da-da7e-4afa-9a7b-fe59a1fa628f?theme=lofi" target="_blank" class="link">See
                    example</a></p>
                <br>
                <sub>* A TODO list with a visual history of each change; highlights when tasks are at risk of not being
                    done.</sub>

                <h1 class="text-2xl font-bold mt-6">What users are saying</h1>
                <br>
                <div class="card text-center shadow-2xl">
                    <div class="card-body">
                        <h2 class="card-title"><q>It is very hard to define my startup in just a sentence. This forced
                            me to really articulate what we are doing.</q></h2>
                        <p> - Jonathan Sinclair</p>
                    </div>
                </div>

                <h1 class="text-2xl font-bold mt-6 mb-6">Benefits</h1>
                <ul class="w-full steps steps-vertical">
                    <li class="step step-primary">Eliminate noise, a simple interface surfacing only what is important.
                    </li>
                    <li class="step step-secondary">Todo lists that works. Don't let an endless todo list sap your
                        motivation. (have one for each milestone)
                    </li>
                    <li class="step step-accent">Build habits; set reminders for tasks that have no end goal, but need to
                        be done daily | weekly | monthly.
                    </li>
                    <li class="step step-error">Collaborate. Share your URL and you can have your whole team working together in minutes.
                    </li>
                </ul>
                <br>
                <br>
                <%= form_tag("/create-board", method: :post) %>
                    <input class="btn btn-primary btn-lg milestone-submit" type="submit" value="Get started"/>
                </form>
            </div>
        </div>
    </div>
</div>